node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env

# macOS
.DS_Store

build/*
!build/web
!build/mobile
build/web/*
build/mobile/*
!build/web/package.json
!build/mobile/package.json
